/* Estilo header */

*{
    margin: 0; /* Quitar margenes por defecto */
    padding: 0; /* Quitar rellenos por defecto */
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background: #111827;
    color: white;
    padding: 16px 24px; /* Espacio interno, eje y y el eje x */
    display: flex; /* logo y menú de fila, los pone uno al lado del otro */
    align-items: center; /* Alinea los elementos, los centra */
    justify-content: space-between; /* separa a la izquierda y derecha, es decir, ubica a los elementos en las esquinas */
}

/* Estilo titulo web */
.nombre {
    font-size: 22px;
}

/* Enlaces del menú */
.nav-link {
    color: white;
    text-decoration: none; /* Quitar subrayado */
    margin-left: 12px; /* Espavio entre links */
    opacity: 0.85;
}

/* Cuando el cursor se pasa por envia de los nav */
.nav-link:hover{
    opacity: 1;
    text-decoration: underline;
    color:blueviolet;
    background-color: white;
    border-radius: 5px; /* Borde de las cajas */
}